<header class="header">
    <link rel="stylesheet" href="style.css">
    <img src="img/logo_header.png" class="header-logo" >
    <div class="header-menu">
    <span class="haeder-menu__button" href="index.html">HOME</span>
    <span class="header-menu__button" href="profile.html">PROFILE</span>
    <img class="header-img" src="img/search_header.png" href="index.html">
    </div>
</header>