body {
  margin: 0;
  font-family: CenturyGothic, sans-serif;
  font-size: 35px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #1a1a1a;
}

.cv {
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 100px;
  background: #f7f9fc;
  padding-bottom: 105px;
}
.header {
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
    margin-left: 120px;; 
}
.header__text {
    font-size: 42px;
    margin-bottom: 80px;
    font-style: italic;
}

.cv-profile {
    box-sizing: border-box;
    box-shadow: 0 0 10px #999ca0;
  margin: auto;
    background: #ffffff;
    width: 952px;       
}
.cv-profile__text {
    display: inline-block;
    margin-top: 80px;
    margin-left: 95px;
    font-size: 42px;
}

.divider {
    margin-top: 40px;
    height: 2px; 
    margin-left: 95px;
    margin-right: 95px;
    background: #eeeeee;
}

.cv-profile__section__form {
    font-size: 20px;
    height: 55px;
    width: 365px;
    background: #f7f9fc;
}

.cv-profile__section {
    margin-left: 295px;
}


.cv-profile__section__gender {
  
   width: 20px;
   height: 20px;
   cursor: pointer;   
}
.sex {
    margin-top: 50px;
    margin-bottom: -30px;
    font-size: 40px;
}

.cv-profile__section__gender + label {
    cursor: pointer;
}

.cv-profile__section__submit {
    margin-left: 50px;
    font-size: 24px;
    color: #5c6bc0;
    background: #fff;
    border: #fff;
    margin-bottom: 80px;
    cursor: pointer;

}

.footer {
    position: relative;
    background: #5c6bc0;
    height: 160px;
  width: 100%;
   top: 105px;
    width: 1400px;
  margin: auto;
}

.footer__text {
    display: inline-block;
    padding: 9px;
    padding-left: 41.5%;
    padding-right: 41.5%;
    color: #4a569a;
    
}
#submit {
     background: #fff;
    
}
#submit:hover{
    border: 2px solid #f1f1f1;
    
}
#submit:active{
    border: 2px solid #7d89cd;
    
}

#date:active{
  border: 3px solid #5c6bc0;
}
    

#first-name:active{
  border: 3px solid #5c6bc0;
}

#second-name:active{
  border: 3px solid #5c6bc0;
    
}

#e-mail:active{
  border: 3px solid #5c6bc0;
}

#phone:active{
  border: 3px solid #5c6bc0;
    
}

