.main{
    display: block;
}
.pg-profile {
  width: 952px;
  height: auto;
  margin: auto;
}
@media (max-width: 768px) {
    .pg-profile {
        position: relative;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 320px) {
    .pg-profile{
        width: 280px;
        margin-left: -79px;
    }
}
.pg-profile-post{
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
	width: 756px;
	margin-bottom: 50px;
    margin: 0px 97px 80px 97px;
	box-sizing: border-box;
    height: auto;
	padding-top: 20px;
	padding-bottom: 80px;
}
@media (max-width: 320px) {
    .pg-profile-post{
        margin-left: 25px;
        margin-right: 25px;
    }
}
.pg-profile-head{
    display: block;
}
.pg-profile__tag{
    display: block;
    width: auto;
    margin: 0 -109px 0 765px;
    background-color: #5c6bc0;
    color:  #ffffff;
    font-size: 13px;
    padding: 10px 12px 10px 12px;
    border: none;
    outline: none;
}
@media (max-width: 768px) {
    .pg-profile__tag{
        position: absolute;
        left: 20%;
    }
}
@media (max-width: 320px) {
    .pg-profile__tag{
        top: -20px;
        left: -700px;
    }
}
.pg-profile__date{
    display: block;
	margin-top: 58px;
    color:  #bdbdbd;
    font-size: 14px;
    line-height: 50px;
    text-align: left;
}
@media (max-width: 320px) {
    .pg-profile__date{
        padding-top: 30px;
    }
}
.pg-profile-title{
    font-family: "Lato", serif;
	font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}
@media (max-width: 320px) {
    .pg-profile-title{
        font-size: 24px;
    }
}
.pg-separator{
    background-color: #eeeeee;
    width: 756px;
    height: 2px;
}
@media (max-width: 320px) {
    .pg-separator{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.pg-profile__text{
	font-family: "Lato", serif;
	font-size: 17px;
  	font-weight: 400;
  	line-height: 30px;
	color: #414141;
}
@media (max-width: 320px) {
    .pg-profile__text{
        font-size: 16px;
    }
}
.pg-profile__bottom{
    margin-top: 58px;
    }
.pg-profile__hashtag{
	display: inline-block;
	float: right;
    text-decoration: none;
  	color:  #b2b2b2;
  	font-size: 15px;
  	font-weight: 400;
  	line-height: 50px;
  	margin: 0 10px 0 0;
  	float: left;
}
@media (max-width: 320px) {
    .pg-profile__hashtag{
        position: static;
        margin-left: -160px;
        margin-top: 35px;
        margin-bottom: -64px;
    }
}
.pg-profile__button { 
	display: inline-block;
	margin-left: -35px;
  	width: 189px;
  	height: 52px;
  	background: none;
  	color: #5c6bc0;
  	font-family: "LatoBold", serif;
  	font-size: 21px;
  	text-transform: uppercase;
  	outline: 0;
  	border: 1px solid #ffffff;
}
@media (max-width: 320px) {
    .pg-profile__more{
        margin-left: -10px
    }
}
#more { 
    background: #fff; 
} 
#more:hover { 
    border-color: #f1f1f1; 
} 
#more:active { 
    border: 2px solid #7d89cd; 
}
.pg-profile-post{
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    width: 952px;
    height: 587px;
    margin-left: 98px;
    margin-right: 98px;
}
.pg-profile-post__img{
    width: 100%;
    height: 100%;
}
@media only screen and (min-device-pixel-ratio: 1.5) {
   .pg-profile-post__img{
        background-image: url(mountain@2x.png);
    }
}
.pg-profile-post__preface{
	font-family: "Lato", serif;
  	color: #7f7f7f;
  	margin-bottom: 46px;
  	font-size: 25px;
  	font-style: italic;
	line-height: 38px;
}
@media (max-width: 320px) {
    .pg-profile-post__preface{
        font-size: 18px;
    }
}