<footer class="footer">
                <link rel="stylesheet" href="style.css">
                <div class="footer-logo">
                    <img class="footer-logo__img" src="img/logo_footer.png">
                </div>
                <div class="footer-menu">
                <span class="footer-menu__button">HOME</span>
                <span class="footer-menu__button">PROFILE</span>
                <img class="footer-menu__img" src="img/search_light.svg" href="index.html">
                </div>
                <div class="footer-content"> ©2015- Palo Alto.All Rights Reserved. Design &amp; Developed by
                <div class="footer-developer">PixelBuddha Team</div>
            </div>
            <div class="icon">
            <a href="https://www.facebook.com" class="facebook">
             <img class="icons__f" src="img/facebook.svg">
            </a>
            <a href="https://twitter.com" class="twitter">
             <img class="icons__t" src="img/twitter.svg">  
            </a>
            <a href="https://www.instagram.com" class="instagram">
             <img class="icons__i" src="img/instagram.svg">
            </a>
            <a href="https://ru.pinterest.com" class="pinterest">
             <img class="icons__p" src="img/pinterest.svg">
            </a>
        </div>
</footer>
