.footer{
  width: 100%;
  height: auto;
  margin: 105px 0 0 0;
  padding-bottom: 70px;
  background-color: #5c6bc0;
  text-align: center;
}
@media (max-width: 320px) {
    .footer{
        width: 320px;
    }
}
.footer__logo{
    padding-top: 70px;
    font-family: "LatoBold", serif;
    font-style: italic;
    font-size: 36px;
    color: #4a569a;
}
@media (max-width: 320px) {
    .footer__logo {
        display: inline-block;
        padding: 9px;
        padding-left: 26.3%;
        padding-right: 26.3%;
        font-size: 36px;
        color: #4a569a;
    }
}
.footer-logo__img{
    margin: auto;
    padding-top: 70px;
}
.footer-menu{
    display: inline-block;
    margin: 64px 0 69px 0;
    font-family: "Lato", serif;
    font-size: 16px;
    text-transform: uppercase;
    word-spacing: 40px;
    color: #fff;
    text-align: center;

}
.footer-menu__button{
      text-decoration: none;
      color: inherit;
}
@media (max-width: 320px) {
    .footer-menu__button{
        position: relative;
        top: -70px;
    }
}
.footer-menu__img{
    display: inline-block;
    width: 16px;
    height: 16px;
}
@media only screen and (min-device-pixel-ratio: 1.5) {
    .footer-menu__img{
        background-image: url(Search@2x.svg);
    }
}
@media (max-width: 320px) {
    .footer-menu__img{
        display: none;
    }
}
.footer-content{
    margin-bottom: 40px;
    font-family: "Lato", serif;
    font-size: 14px;
    color: #8d98d4;
}
@media (max-width: 320px) {
    .footer-content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.footer-developer{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    margin-left: 10px;
}
.icons {
    width: 200px;
    margin: 0 auto;
    list-style: none;
}
@media (max-width: 320px) {
    .icons {
    position: relative;
    padding: 0;
    margin-top: -15px;
    margin-left: 75px;
    padding-bottom: 70px;
    }
}

.icons__f {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.icons__t {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.icons__i {
    width: 22px;
    height: 22px;
    margin-right: 20px;
    
}

.icons__p {
    width: 22px;
    height: 22px;
}